.flatpickr-month {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}
.flatpickr-weekdays {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}

.flatpickr-current-month {
    background-color: var(--primary) !important;
    border: 2px solid var(--secondary) !important;
}

.flatpickr-day {
    color: var(--secondary) !important;
}

.flatpickr-day.selected,
.flatpickr-day.selected:hover {
    background-color: var(--primary) !important;
    color: white !important;
}
.flatpickr-weekday {
    background-color: var(--primary) !important;
    color: white !important;
}

.flatpickr-monthDropdown-months {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
}
.flatpickr-monthDropdown-months:hover {
    background-color: var(--secondary) !important;
    color: white !important;
}

.numInputWrapper:hover {
    background-color: var(--secondary) !important;
    color: white !important;
}
